.comments__area {
  margin-top: 50px;
  padding: 50px;
  background: $gray;
  & h3 {
    @include fontSize(24px);

  }
  & input , & textarea {
    padding: 10px;
    margin: 0;
    outline: 0;
    border: 2px solid white;
    transition: 0.4s;
  }
  &  textarea:focus {
    border: 2px solid $dark-blue;
  }
}
.comment__notes {
  color: $dark-blue;
  opacity: 0.7;
}
