.comments__area {
  margin-top: 50px;
  padding: 50px;
  background: $comment-background;
  & h3 {
    @include fontSize(24px);

  }
  & input , & textarea {
    padding: 10px;
    margin: 0;
    outline: 0;
    border: 2px solid $comment-border;
    transition: 0.4s;
  }
  &  textarea:focus {
    border: 2px solid $comment-textarea-border;
  }
}
.comment__notes {
  color: $comment-notes;
  opacity: 0.7;
}
