.comments__area {
  margin-top: 50px;
  padding: 50px;
  background: $gray;
  & h3 {
    @include fontSize(24px);

  }
  & input , & textarea {
    padding: 10px;
    margin: 0;
    outline: 0;
    border: 2px solid white;
    transition: 0.25s;
  }
  &  textarea:focus {
    border: 2px solid $dark-blue;
  }
  & input[type=submit] {
    background: $secondary-color;
    font-weight: normal;
    @include fontSize(14px);
    &:hover {
      background: darken($secondary-color,15%);
    }
    &:focus {
      transform: translatey(5px);
    }
  }
}
.comment__notes {
  color: $dark-blue;
  opacity: 0.7;
}
