.header {
  padding-top: 60px;
}
.header__title {

  & h1 {
    padding  : 0;
    margin   : 0;
    @include fontSize(30px);
  }
}
.site-description {
    @include fontSize(16px);
    color:#c0c0c0;
    margin-bottom: 90px;
}

nav.header__nav {
  width: 100%;
  background: #253645;
}

.menu ul {
  padding    : 0;
  @include fontSize(14px);
  font-family: sans-serif;
  margin: 10px auto;
  @include outer-container;
  & ul {
    padding   : 5px;
    display   : none;
    position  : absolute;
    background: $menu-color;
    padding-left: 5px;
  }
  & li {
    min-width : 230px;
    list-style: none;
    padding   : 10px;
    & > a {
      color: #fff;
      width: 100%;
      display: block;
    }
    &:hover {
      background: #f0f0f0;
      & > a {
        color: #0f0f0f;
      }
    }
    & ul > li > ul {
      margin-left: 15px;
    }
  }
  & li:hover > ul {
    display   : block;
    position  : absolute;
  }
  & > li {
    list-style: none;
    display   : inline-block;
    position  : relative;
    min-width : 130px;
    margin    : 0;
      & > a {
        display: block;

        text-align: center;
      }
    & > ul > li {
      margin-left: 0;
    }
  }
}
