.site-header {
  padding-top: 60px;
}
.site-title {
  & h1 {
    padding  : 0;
    margin   : 0;
    font-size: 2rem;
  }
}
.site-description {
  font-size: 0.9rem;
}
ul.menu {
  padding    : 0;
  font-size  : 14px;
  font-family: sans-serif;
  margin: 10px 0 -30px 0px;
  border: 1px solid #fcfcfc ;
  & ul {
    padding   : 5px;
    display   : none;
    position  : absolute;
    background: $menu-color;
    border-left : 3px solid #e7e7e7;
    padding-left: 5px;
  }
  & li {
    min-width : 230px;
    list-style: none;
    padding   : 10px;
    & > a {
      color: #676767;
    }
    &:hover {
      background: #f0f0f0;
      & > a {
        color: #0f0f0f;
      }
    }
    & ul > li > ul {
      margin-left: 15px;
    }
  }
  & li:hover > ul {
    display   : block;
    position  : absolute;
    box-shadow: 0 0 40px 1px #F3F3F3;
  }
  & > li {
    list-style: none;
    display   : inline-block;
    position  : relative;
    min-width : 130px;
    margin    : 0;
      & > a {
        display: block;

        text-align: center;
      }
    & > ul > li {
      margin-left: 0;
    }
  }
}
