.site-header {
  padding-top: 60px;
}
.site-title {
  & h1 {
    padding  : 0;
    margin   : 0;
    font-size: 2rem;
  }
}
.site-description {
  font-size: 0.9rem;
}
ul {
  padding: 0;
}

ul.menu {
  list-style:none;
	position:relative;
	float:left;
	margin:20px 0;
  text-align: left;
  margin-left: -10px;

  & li {
    display: inline-block;
  }
    & a
    {
    	display:block;
    	color:#333;
    	text-decoration:none;
    	font-weight:400;
    	font-size:14px;
    	line-height:32px;
    	padding:0 15px;
      font-family: sans-serif;
      text-align: left;
    }
    & ul li
    {
    	position:relative;
    	float:left;
    	margin:0;
    	padding:0;
      display:inline-block;
    }
    & > li > ul > li > ul >li {
      background: #efefef;
    }
    & ul ul
    {
    	display:none;
    	top:100%;
    	left:0;
    	padding:0
    }
    & ul {
      display: none;
      position: absolute;
      padding: 0;
    }

    & ul li:hover > ul
    {
    	display:flex;
      flex-direction: column;
    	width:200px;
    }
    & li:hover > ul {
      display: block;
      background: #e2e2e2;
    }
}
