/* =Variables
-------------------------------------------------------------- */
$icon-color: #F0648B;
$primary-color: #ffF000;
$secondary-color: #F0648B;
$gray:#f8f8f8;
$link-color: #0C273E;
$link-color__hover: #253645;
$title: $helvetica;
$content: $georgia;

$menu-color:$gray;
