/* =Variables
-------------------------------------------------------------- */
$yellow: #ffF000;
$pink: #F0648B;
$gray:#f8f8f8;
$dark-blue: #253645;
$near-white:#fefefe;
$moxie-blue: #375167;

$primary-color: $yellow;
$secondary-color: $pink;


$post-link-color:$secondary-color;
$icon-color: $secondary-color;
$link-color: $dark-blue;

$menu-color:$moxie-blue;
$input-border-color: $dark-blue;

$title: $helvetica;
$content: $georgia;
