@include media($go-mobile) {
  .wrap {
    padding: 0 15px;
  }

  #primary-nav {
    width: 100%;
    position: relative;
    left: 0;
    margin-top: -50px;
  }

  ul.menu {
    li:hover ul {
      position: relative;
    }
    & > li {
      display: block;
      position: relative;
      z-index: 0;
      & > a {
        z-index: inherit;
      }
    }
  }

}
